@import "../../style/variable";
@import "../../style/base";
// custom scroll bar
::-webkit-scrollbar-track {
  background-color: #f5f5f5;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  background-color: #f5f5f5;
}

::-webkit-scrollbar-thumb {
  background-image: linear-gradient($BROWN_500, $RED_500);
  // border-radius: 10px;
}
::-webkit-scrollbar-thumb:horizontal {
  background-image: linear-gradient(to right, $BROWN_500, $RED_500);
  // border-radius: 10px;
}

main {
  padding-bottom: 60px;
  background-color: rgba(145, 26, 30, 0.04);
  position: relative;
  z-index: 1;
}

.main-wrapper {
  display: flex;
  gap: 20px;
  width: 1372px;
  margin: 0 auto;
  &--left {
    width: 323px;
    padding-top: 30px;
    background-color: white;
    display: flex;
    justify-content: center;
  }
  &--right {
    padding: 30px 0 0 0;
    width: 993px;
  }
}
