@import "../../style/variable.scss";
@import "../../style/base.scss";

header {
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  height: 85px;
  position: relative;
  z-index: 4;
}
.header-wrapper {
  width: 1372px;
  height: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.doctor {
  position: relative;
  &:hover &-submenu {
    display: flex;
  }
  &-submenu {
    position: absolute;
    bottom: 0;
    right: 0;
    transform: translateY(104%);
    width: 267px;
    height: 60px;
    background-color: white;
    display: none;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.25);
    &-item {
      width: 251px;
      height: 44px;
      font-weight: 500;
      display: flex;
      align-items: center;
      padding: 0 20px;
      cursor: pointer;
      &:hover {
        background-color: rgba(0, 0, 0, 0.1);
      }
    }
  }
}

.icon-bell {
  width: 30px;
  height: 30px;
  position: relative;
  .number-bell {
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(22%, -30%);
    width: 20px;
    height: 20px;
    font-size: 12px;
    font-weight: 500;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $RED_500;
    border-radius: 50%;
  }
  .menu-bell {
    display: none;
    position: absolute;
    right: 0;
    bottom: -20px;
    transform: translateY(100%);
    background-color: white;
    width: 554px;
    height: 468px;
    padding: 20px;
    border-radius: 10px;
    z-index: 99;
    box-shadow: 0 0 8px 4px rgba(0, 0, 0, 0.2);
    &.menu-bell-active {
      display: block;
    }
    ::after {
      content: "";
      width: 20px;
      height: 20px;
      background-color: white;
      position: absolute;
      right: 14px;
      top: 0;
      transform: translate(0, -50%);
      rotate: 45deg;
    }
    h3 {
      text-transform: uppercase;
      color: $BROWN_500;
      font-size: 22px;
      margin-bottom: 10px;
    }
    .menu-item {
      display: flex;
      flex-direction: column;
      gap: 10px;
      padding: 8px 0;
      border-bottom: 1px solid rgba(0, 0, 0, 0.25);
      &:hover {
        background-color: $BROWN_50;
      }
      .content {
        font-size: 20px;
      }
      .time {
        font-size: 12px;
      }
      span {
        text-align: left;
        padding: 0 8px;
      }
    }
    .container {
      height: 400px;
      overflow: auto;
    }
  }
  .overlay {
    display: none;
    position: fixed;
    width: 100vw;
    height: 100vh;
    inset: 0;
    z-index: 20;
    background-color: rgba(0, 0, 0, 0.25);
    cursor: pointer;
    &.overlay-active {
      display: block;
    }
  }
}
