@import "../../../style/variable";
@import "../../../style/base";

main {
  margin-bottom: 60px;
}
.information-wrapper {
  width: 908px;
  margin: 0 auto;

  h3 {
    margin-bottom: 8px;
    margin-top: 30px;
    color: $BROWN_500;
  }
  .pet-spa {
    .table-row {
      border-bottom: 1px solid rgba(0, 0, 0, 0.4);
      display: grid;
      grid-template-columns: 0.5fr 2fr 1.5fr 1.5fr 1fr 2fr 2fr 4fr;
      height: max-content;
      .table-col {
        padding: 8px;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }
  .pet-normal {
    .table-row {
      border-bottom: 1px solid rgba(0, 0, 0, 0.4);
      display: grid;
      grid-template-columns: 0.5fr 2fr 1.5fr 1.5fr 1fr 2fr 4fr;
      height: max-content;
      .table-col {
        padding: 8px;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }
  .pet-hotel {
    .table-row {
      border-bottom: 1px solid rgba(0, 0, 0, 0.4);
      display: grid;
      grid-template-columns: 0.5fr 2fr 1.5fr 1.5fr 1fr 2fr 2.75fr 4fr;
      height: max-content;
      .table-col {
        padding: 8px;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }
  .table-wrapper {
    display: flex;
    width: 100%;
    justify-content: space-between;
    gap: 20px;
    .table {
      width: 50%;
    }
    .table-row {
      display: grid;
      grid-template-columns: 1fr 2fr;
      .table-col {
        justify-content: flex-start;
      }
    }
  }
  .table-row--brown {
    background-color: $BROWN_500;
    color: white;
  }
}
hr {
  border: 1px solid $BROWN_500;
}
.btn-wrapper {
  .btn {
    width: 211px;
    height: 53px;
    border-radius: 10px;
    border: none;
  }
  .btn-type-1 {
    color: white;
    background-color: $BROWN_500;
    &:hover {
      background-color: $RED_600;
      cursor: pointer;
    }
  }
  .btn-type-2 {
    color: $BROWN_500;
    border: 1px solid $BROWN_500;
    background-color: transparent;
    cursor: pointer;
    &:hover {
      background-color: $BROWN_500;
      color: white;
    }
  }
  .confirm-wrapper {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    input {
      width: 100%;
      height: 51px;
      padding: 0px 10px;
      border: 1px solid black;
      border-radius: 10px;
      &:focus {
        box-shadow: 0 0 8px 4px rgba(145, 26, 30, 0.25);
        border: 1px solid $BROWN_500;
      }
    }
  }
  .btn-confirm-wrapper {
    display: flex;
    justify-content: space-between;
  }
  .err {
    color: $RED_600;
  }
}
