@import "../../style/variable.scss";
@import "../../style/base";

.input-row {
  display: flex;
  gap: 20px;
  margin-bottom: 10px;
}
h2 {
  font-size: 16px;
  color: $BROWN_500;
  margin-bottom: 20px;
}
h2:not(h2:nth-child(1)) {
  margin-top: 20px;
}
textarea {
  border: 1px solid rgba(0, 0, 0, 0.4);
  &:focus {
    border: 1px solid $BROWN_500;
    box-shadow: 0 0 8px rgba(145, 26, 30, 0.25);
  }
}
.input-group {
  display: flex;
  flex-direction: column;

  label {
    font-weight: 600;
    margin-bottom: 10px;
  }
  input[type="text"] {
    width: 444px;
    height: 40px;
    padding: 10px;
    border: 1px solid rgba(0, 0, 0, 0.4);
    border-radius: 10px;
    &:focus {
      border: 1px solid $BROWN_500;
      box-shadow: 0 0 8px rgba(145, 26, 30, 0.25);
    }
  }
}
