@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import "../style/variable";
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}
a {
  text-decoration: none;
  color: black;
}
ul,
li {
  list-style: none;
}
input,
textarea {
  width: 100%;
  border: none;
  outline: none;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}
img {
  width: 100%;
}
button {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}
label {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}

.section-heading {
  width: fit-content;
  margin: 60px auto;
  color: $BROWN_500;
  position: relative;
  font-size: 24px;
  font-weight: 800;
  text-transform: uppercase;
  &::after {
    content: "";
    width: 80%;
    height: 3px;
    position: absolute;
    bottom: -16px;
    left: 50%;
    transform: translateX(-50%);
    background-color: $BROWN_500;
  }
}
.breadcrumb {
  width: 1372px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  padding-top: 20px;
  img {
    width: 30px;
    height: 30px;
  }
}
