@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import "../style/variable";
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}
a {
  text-decoration: none;
  color: black;
}
ul,
li {
  list-style: none;
}
input,
textarea {
  width: 100%;
  border: none;
  outline: none;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}
button {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}
label {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}

.section-heading {
  width: fit-content;
  color: $BROWN_500;
  font-size: 24px;
  font-weight: 800;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}
.ant-pagination-next,
.ant-pagination-prev,
.ant-pagination-item-ellipsis,
.ant-pagination-item {
  border: 1px solid #dfe3e8 !important;
  border-radius: 4px !important;
  a {
    color: black;
    font-weight: 600;
  }
}
.ant-pagination-item-active {
  border: 1px solid $BROWN_500 !important;
  a {
    color: $BROWN_500 !important;
  }
}
.ant-pagination-next,
.ant-pagination-prev {
  svg {
    color: #dfe3e8 !important;
  }
}
.ant-pagination-disabled {
  background-color: #dfe3e8 !important;
  svg {
    color: white !important;
  }
}

.ck-rounded-corners .ck.ck-editor__main > .ck-editor__editable,
.ck.ck-editor__main > .ck-editor__editable.ck-rounded-corners {
  min-height: 400px;
}
