$BROWN_50: rgb(244, 232, 232);
$BROWN_100: rgb(221, 184, 185);
$BROWN_200: rgb(204, 150, 151);
$BROWN_300: rgb(181, 102, 104);
$BROWN_400: rgb(167, 72, 74);
$BROWN_500: rgb(145, 26, 29);
$BROWN_600: rgb(132, 24, 26);
$BROWN_700: rgb(103, 18, 21);
$BROWN_800: rgb(80, 14, 16);
$BROWN_900: rgb(61, 11, 12);
$RED_50: rgb(255, 247, 247);
$RED_100: rgb(255, 230, 231);
$RED_200: rgb(255, 217, 219);
$RED_300: rgb(255, 200, 202);
$RED_400: rgb(255, 189, 192);
$RED_500: rgb(255, 173, 176);
$RED_600: rgb(232, 157, 160);
$RED_700: rgb(181, 123, 125);
$RED_800: rgb(140, 95, 97);
$RED_900: rgb(107, 73, 74);
$BROWN_DARK_50: rgb(236, 233, 233);
$BROWN_DARK_100: rgb(195, 186, 186);
$BROWN_DARK_200: rgb(165, 152, 152);
$BROWN_DARK_300: rgb(124, 105, 106);
$BROWN_DARK_400: rgb(99, 76, 77);
$BROWN_DARK_500: rgb(60, 31, 32);
$BROWN_DARK_600: rgb(55, 28, 29);
$BROWN_DARK_700: rgb(43, 22, 23);
$BROWN_DARK_800: rgb(33, 17, 18);
$BROWN_DARK_900: rgba(25, 13, 13, 0.2);
